<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greedy.crud.model.dao.MenuMapper">

	<resultMap id="menuResultMap" type="com.greedy.crud.model.dto.MenuDTO">
		<id property="code" column="MENU_CODE"/>
		<result property="name" column="MENU_NAME"/>
		<result property="price" column="MENU_PRICE"/>
		<result property="categoryCode" column="CATEGORY_CODE"/>
		<result property="orderableStatus" column="ORDERABLE_STATUS"/>
	</resultMap>
	
	
	<resultMap id="categoryResultMap" type="com.greedy.crud.model.dto.CategoryDTO">
		<id property="code" column="CATEGORY_CODE"/>
		<result property="name" column="CATEGORY_NAME"/>
		<result property="refCategoryCode" column="REF_CATEGORY_CODE"/>
	</resultMap>

	<select id="findAllMenu" resultMap="menuResultMap">
		SELECT
		       MENU_CODE
		     , MENU_NAME
		     , MENU_PRICE
		     , CATEGORY_CODE
		     , ORDERABLE_STATUS
		  FROM TBL_MENU
		 WHERE ORDERABLE_STATUS = 'Y'
		 ORDER BY MENU_CODE
	</select>
	
	
	<select id="findAllCategory" resultMap="categoryResultMap">
		SELECT
			CATEGORY_CODE
			,CATEGORY_NAME
			,REF_CATEGORY_CODE
			FROM TBL_CATEGORY
			WHERE REF_CATEGORY_CODE IS NOT NULL
	</select>
	
	<insert id="registMenu">
		INSERT
			INTO TBL_MENU
		(
			MENU_CODE
			,MENU_NAME
			,MENU_PRICE
			,CATEGORY_CODE
			,ORDERABLE_STATUS
		)
		VALUES
		(
		SEQ_MENU_CODE.NEXTVAL
		,#{ name }
		,#{ price }
		,#{ categoryCode }
		,#{ orderableStatus }
		)
		
		
	</insert>




</mapper>