<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>menu regist</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body>

	<h3 align="center">신규 메뉴 등록</h3>
	<form action="/menu/regist" method="post" align="center">
		<label>메뉴 이름 : </label>
		<input type="text" name="name"><br>
		<label>메뉴 가격 : </label>
		<input type="number" name="price"><br>
		<label>카테고리 : </label>
		<select name="categoryCode" id="categoryCode"></select><br>
		<label>판매 상태 : </label>
		<select name="orderableStatus">
			<option value="Y">Y</option>
			<option value="N">N</option>
		</select><br>
		<input type="submit" value="전송">
	</form>
	
	<script>
		$(function(){
			$.ajax({
				url : "/menu/category",
				success : function(data) {
					console.log(data);
					
					const $categoryCode = $("#categoryCode");
					
					for(let index in data) {
						$categoryCode.append($("<option>").val(data[index].code).text(data[index].name));
					}
				
					
				},
				error : function(xhr) { console.log(xhr); }
				
			});
		});
	</script>

</body>
</html>